<% if !@errors.nil? %>
  <div class="error">
    <label><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
          <ul>
            <% @errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
      </ul>
        </div>
<% end %>

<div class="pin col-md-8">
  
  <%= form_for @pin do |f| %>
    
    <div class="form-group">
      <div>
      <%= f.label :title, "Title" %>
      </div>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
    
    <div class="form-group">
      <div>
        <%= f.label :text_field, "Text" %>
      </div>
        <textarea <%= f.text_field :text, class: 'form-control', rows: '3', placeholder: 'Pin Text' %></textarea>
    </div>
    
    <div>
      
      <div class="form-group">
        <div>
          <%= f.label :category_id, "Category" %>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
      
      <div class="form-group>
        <%= f.label :url, "URL" %>
        <%= f.url_field :url, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <div>
          <%= f.label :slug, "Slug" %>
        </div>
        <%= f.text_field :slug, class: 'form-control' %>
      </div>
      
      <div class="actions">
          <%= f.submit %>
      </div>
      
    </div>
    
  <% end %>
  
</div>