<p id="notice"><%= notice %></p>

<div class="header">
  <h1><%= @user.first_name %>'s pins!</h1>
</div>
<hr/>

<%= render partial: "shared/pins_list" %>

<hr/>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
