<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @user.password_hash %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<div class="header">
  <h1><%= @user.first_name %>'s pins!</h1>
</div>
<hr/>

<%= render partial: "shared/pins_list" %>

<hr/>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
