<%= form_for(@board) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-container">
    <div class="margin-container">  
      <div class="group">
        <%= f.text_field :name, required: true %>
        <span class="highlight"></span>
        <span class="bar"></span>
        <%= f.label :name %><br>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
