<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %>  
  <% if !current_user.nil? %>
  <div class="pull-right">
    <h3>
      <%= "Welcome back #{current_user.first_name}!" %>
      <%= link_to "Logout", logout_path(current_user) %>
    </h3>
  </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
